<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center"></div>
  </div>
</div>
<div class="page-body">
  <div class="container-xl">
    <div class="col">
      <div class="page-header d-print-none">
        <div class="row align-items-center">
          <div class="col">
            <!-- Page pre-title -->
            <div class="page-pretitle">Staffs</div>
            <h2 class="page-title">List</h2>
          </div>
          <!-- Page title actions -->
          <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
              <a
                href="#"
                class="btn btn-primary d-none d-sm-inline-block"
                data-bs-toggle="modal"
                data-bs-target="#create-staff-modal"
              >
                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <line x1="12" y1="5" x2="12" y2="19" />
                  <line x1="5" y1="12" x2="19" y2="12" />
                </svg>
                Create new staff
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="table-responsive">
            <table class="table table-vcenter table-mobile-md card-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Staff Type</th>
                  <th>Designation</th>
                  <th class="w-1"></th>
                </tr>
              </thead>
              <tbody>
                <% for(let staff of staffs) { %>
                <tr>
                  <td data-label="Name">
                    <div class="d-flex py-1 align-items-center">
                      <span class="avatar me-2"><%= staff.abbrev %></span>
                      <div class="flex-fill">
                        <div class="font-weight-medium"><%= staff.name %></div>
                        <div class="text-muted">
                          <a href="#" class="text-reset"
                            ><%= staff.staffId %></a
                          >
                        </div>
                      </div>
                    </div>
                  </td>
                  <td data-label="Name">
                    <div class="d-flex py-1 align-items-center">
                      <div class="flex-fill">
                        <div class="font-weight-medium"><%= staff.email %></div>
                      </div>
                    </div>
                  </td>
                  <td data-label="Name">
                    <div class="d-flex py-1 align-items-center">
                      <div class="flex-fill">
                        <div class="font-weight-medium">
                          <%= staff.staffType %>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td data-label="Name">
                    <div class="d-flex py-1 align-items-center">
                      <div class="flex-fill">
                        <div class="font-weight-medium">
                          <%= staff.designation.title %>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="btn-list flex-nowrap">
                      <a
                        href="#"
                        data-id="<%= staff._id %>"
                        class="btn btn-primary EditStaffBtn"
                        data-bs-toggle="modal"
                        data-bs-target="#edit-staff-modal"
                        aria-label="Edit staff"
                      >
                        Edit
                      </a>
                      <a
                        href="#"
                        data-id="<%= staff._id %>"
                        class="btn btn-danger"
                        onclick="setId(event)"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-danger"
                      >
                        Remove
                      </a>
                    </div>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal modal-blur fade"
  id="create-staff-modal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Staff</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <label class="form-label">Bio information</label>
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label">name</label>
              <input
                type="text"
                class="form-control"
                placeholder="John Doe"
                id="createname"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                placeholder="example@domain.com"
                id="createemail"
              />
            </div>
          </div>
          <label class="form-label">Staff Type</label>
          <div class="form-selectgroup-boxes row mb-3">
            <div class="col-lg-6">
              <label class="form-selectgroup-item">
                <input
                  type="radio"
                  name="staffType"
                  value="FullTime"
                  class="form-selectgroup-input createstaffType"
                />
                <span
                  class="form-selectgroup-label d-flex align-items-center p-3"
                >
                  <span class="me-3">
                    <span class="form-selectgroup-check"></span>
                  </span>
                  <span class="form-selectgroup-label-content">
                    <span class="form-selectgroup-title strong mb-1"
                      >Full-time</span
                    >
                    <span class="d-block text-muted"
                      >Permanent member of the organisation</span
                    >
                  </span>
                </span>
              </label>
            </div>
            <div class="col-lg-6">
              <label class="form-selectgroup-item">
                <input
                  type="radio"
                  name="staffType"
                  value="PartTime"
                  class="form-selectgroup-input createstaffType"
                />
                <span
                  class="form-selectgroup-label d-flex align-items-center p-3"
                >
                  <span class="me-3">
                    <span class="form-selectgroup-check"></span>
                  </span>
                  <span class="form-selectgroup-label-content">
                    <span class="form-selectgroup-title strong mb-1"
                      >Part-time</span
                    >
                    <span class="d-block text-muted"
                      >Temporary member of the organisation</span
                    >
                  </span>
                </span>
              </label>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="mb-3">
              <label class="form-label">Designation</label>
              <select class="form-select" id="createdesignation">
                <option>-- Select Designation --</option>
                <% for(let designation of designations){%>
                <option value="<%= designation._id %>">
                  <%= designation.title %>
                </option>
                <% }%>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
          Cancel
        </a>
        <a href="#" class="btn btn-primary ms-auto" id="CreateStaffBtn">
          <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <line x1="12" y1="5" x2="12" y2="19" />
            <line x1="5" y1="12" x2="19" y2="12" />
          </svg>
          Create new staff
        </a>
      </div>
    </div>
  </div>
</div>
<div
  class="modal modal-blur fade"
  id="edit-staff-modal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Staff</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <label class="form-label">Bio information</label>
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label">name</label>
              <input type="hidden" id="editid" />
              <input
                type="text"
                class="form-control"
                placeholder="John Doe"
                id="editname"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                placeholder="example@domain.com"
                id="editemail"
              />
            </div>
          </div>

          <label class="form-label">Staff Type</label>
          <div class="form-selectgroup-boxes row mb-3">
            <div class="col-lg-6">
              <label class="form-selectgroup-item">
                <input
                  type="radio"
                  name="staffType"
                  value="FullTime"
                  class="form-selectgroup-input editstaffType"
                />
                <span
                  class="form-selectgroup-label d-flex align-items-center p-3"
                >
                  <span class="me-3">
                    <span class="form-selectgroup-check"></span>
                  </span>
                  <span class="form-selectgroup-label-content">
                    <span class="form-selectgroup-title strong mb-1"
                      >Full-time</span
                    >
                    <span class="d-block text-muted"
                      >Permanent member of the organisation</span
                    >
                  </span>
                </span>
              </label>
            </div>
            <div class="col-lg-6">
              <label class="form-selectgroup-item">
                <input
                  type="radio"
                  name="staffType"
                  value="PartTime"
                  class="form-selectgroup-input editstaffType"
                />
                <span
                  class="form-selectgroup-label d-flex align-items-center p-3"
                >
                  <span class="me-3">
                    <span class="form-selectgroup-check"></span>
                  </span>
                  <span class="form-selectgroup-label-content">
                    <span class="form-selectgroup-title strong mb-1"
                      >Part-time</span
                    >
                    <span class="d-block text-muted"
                      >Temporary member of the organisation</span
                    >
                  </span>
                </span>
              </label>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="mb-3">
              <label class="form-label">Designation</label>
              <select class="form-select" id="editdesignation">
                <option>-- Select Designation --</option>
                <% for(let designation of designations){%>
                <option value="<%= designation._id %>">
                  <%= designation.title %>
                </option>
                <% }%>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
          Cancel
        </a>
        <a href="#" class="btn btn-primary ms-auto" id="UpdateStaffBtn">
          <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <line x1="12" y1="5" x2="12" y2="19" />
            <line x1="5" y1="12" x2="19" y2="12" />
          </svg>
          Update
        </a>
      </div>
    </div>
  </div>
</div>

<div
  class="modal modal-blur fade"
  id="modal-danger"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
      <div class="modal-status bg-danger"></div>
      <div class="modal-body text-center py-4">
        <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon mb-2 text-danger icon-lg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 9v2m0 4v.01" />
          <path
            d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"
          />
        </svg>
        <h3>Are you sure?</h3>
        <div class="text-muted">Do you really want to remove this staff?</div>
      </div>
      <div class="modal-footer">
        <div class="w-100">
          <div class="row">
            <div class="col">
              <a href="#" class="btn w-100" data-bs-dismiss="modal"> Cancel </a>
            </div>
            <div class="col">
              <a href="#" class="btn btn-danger w-100 DeleteStaffBtn">
                Remove
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
